@font-face {
    font-family: "TT Lakes";
    src: url("/fonts/TTLakes-Medium.woff2");
}

html, 
body {
    font-family: 'TT Lakes';
    max-width: 1120px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

}
.container {
    padding: 24px 16px;
    background-color: #F8F8F8;
    margin: 0;
}
.header {
    padding: 42px 16px;

}
.navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    background-color: #fff;
    width: 100%;
}

    @media (min-width: 318px) {

    .title {
        display: flex;
        align-items: center;
    }

    .highlight {
        margin-right: 10px;
        margin-left: -16px;
    }

    .navigation__burger {
        border-right: 1px solid #fff;
        margin-right: 18px;
    }
    .navigation__logo {
        border-right: 1px solid #eaeaea;
        padding-right: 18px;
    }
    .navigation__phone {
        display: none;
    }
    .navigation__chat {
        display: none;
    }
    .navigation__user {
        display: none;
    }
    .navigation__repairs {
        padding-left: 20px;
    }
    .navigation__status {
        padding-left: 16px;
    }
    .title__navigation {
        display: none;
    }
    .content__img--big {
        width: 320px;
        height: 230px;
    }
    .content__hidden {
        display: none;
    }

    .button {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

    .button__checkbox {
        line-height: 24px;
        letter-spacing: -0.2;
    }

    #read__more {
        appearance: none;
        margin-left: 20px;
    }

    #read__more+label::before {
        content: '';
        display: inline-block;
        margin-right: 2px;
        padding-top: -10px;
        flex-shrink: 0;
        flex-grow: 0;
        width: 1em;
        height: .8em;
        background: url(/img/icon.svg) no-repeat;
    }

    #read__more.checkbox  {
        margin-left: 5px;
    }

}

    @media (min-width: 567px) {
    .navigation__burger {
        border-right: 1px solid #eaeaea;
        padding-right: 20px;
    }
    .navigation__logo {
        border-right: 1px solid #fff;
        padding-right: 18px;
    }
    .navigation__phone {
        display: block;
        padding-left: 20px;
    }
    .navigation__chat {
        display: block;
        padding-left: 20px;
    }
    .navigation__user {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid #eaeaea;
    }
    .navigation__repairs {
        display: block;
        padding-left: 0px;
    }
    .navigation__status {
        display: block;
        padding-left: 16px;
    }
    .title__navigation {
        display: none;
    }
    .content__img {
        width: 360px;
        height: 260px;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .content__hidden {
        display: block;
    }

    .content__hidden--mid {
        display: none;
    }


    }
    @media (min-width: 767px) {
        
    .navigation__burger {
        border-right: 1px solid #eaeaea;
        padding-right: 20px;
    }
    .navigation__logo {
        border-right: 1px solid #fff;
        padding-left: 21px;
    }
    .navigation__phone {
        display: block;
        padding-left: 240px;
    }
    .navigation__chat {
        display: block;
        padding-left: 16px;
    }
    .navigation__user {
        border-right: 1px solid #eaeaea;
        display: block;
        padding-left: 16px;
        padding-right: 20px;
    }
    .navigation__repairs {
        display: block;
        padding-left: 20px;
    }
    .navigation__status {
        display: block;
        padding-left: 16px;
    }
    .title__navigation {
        display: none;
    }
    .content {
        display: flex;
        word-spacing: -.02em;
    }

    .content__hidden {
        display: block;
        word-spacing: normal;
    }

    .content__hidden--mid {
        display: none;
    }

    .content__img {
        width: 360px;
        height: 260px;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title__navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .title__item--first {
        margin-left: 450px;
    }
    .title__item--second {
        margin-left: 8px;
    }
    .title__item--third {
        margin-left: 32px;
    }
    .title__item--fourth {
        margin-left: 8px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        word-spacing: -.02em;
        box-sizing: border-box;
    }
    
    .scroll__card {
      flex-wrap: wrap;
    }

    .content__hidden {
        display: inline-block;
    } 

    .content__hidden--mid {
        display: flex;
        word-spacing: normal;
    }

    .content__text {
        flex-direction: column;
    }

    .highlight {
        display: none;
    }

}


.title__script {
    color: #1B1C21;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.scroll {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.scroll__card {
    display: flex;
    overflow-x: auto;
}

.scroll__card::-webkit-scrollbar {
    display: none;
}

.scroll__card {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll__card::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll__card_text {
    text-align: center;
    width: 246px;
    padding: 8px 22px;
    color: #7E7E82;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
}
.scroll__card_text:hover {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
}
.content__text--about {
    min-width: 288px;
    flex: 1 50%;
}
.content__img img {
    flex: 1 50%;
    width: 100%;
    height: auto;
}
